/*
  Stili personalizzati per SweetAlert2: sistema per le notifiche e messaggi popup
 */

/* Modifica la grandezza del titolo del popup */
.swal2-title {
  font-size: 22px !important; /* important sta per "importante" e serve a forzare l'applicazione di questo stile, anche se ci sono altri stili che potrebbero sovrascriverlo. */
}

/* Modifica la grandezza del testo descrittivo del popup */
.swal2-html-container {
  font-size: 16px !important;
}

/* Serve per ingrandire/rimpicciolire il testo dei bottoni */
.swal2-actions .btn {
  font-size: 15px !important;
}
