<div class="container-fluid py-4">

  <div class="d-flex justify-content-between align-items-center mb-5">
    <h2 class="mb-0">Gestione Preventivi</h2>
    <div class="d-flex align-items-center ">

      <!-- Icona della nuvola con spunta o con freccia verso l'alto a seconda se ci sono modifiche non salvate o no -->
      <div class="me-3 fs-4">
        @if (preventiviService.hasUnsavedChanges()) {
          <i class="bi bi-cloud-arrow-up-fill text-danger" title="Modifiche non salvate"></i>
        } @else {
          <i class="bi bi-cloud-check-fill text-success" title="Tutte le modifiche sono salvate"></i>
        }
      </div>

      <!-- BOTTONE ANTEPRIMA / SALVA -->
      <!-- Se siamo in modalità anteprima, mostriamo i pulsanti per tornare alla modifica e scaricare il PDF -->
      @if (isPreview()) {
        <!-- <button (click)="creaNuovo()" class="btn btn-dark btn-sm px-4 rounded-pill">
        btn-sm per rendere il pulsante più piccolo, in modo da differenziarlo visivamente dagli altri pulsanti di azione principali come "Salva" e "Vedi Anteprima".
        px-4 serve per impostare un padding di 4px su ogni lato del pulsante
        rounded-pill serve per rendere il pulsante arrotondato e con bordi arrotondati.
        -->

        <button (click)="togglePreview()" class="btn btn-dark me-2 rounded-pill btn-sm px-3">
          <i class="bi bi-pencil"></i> Modifica
        </button>
        <button (click)="downloadPDF()" class="btn btn-success me-2 rounded-pill btn-sm px-3">
          <i class="bi bi-download"></i> Scarica PDF
        </button>
        <button (click)="apriModalEmail()" class="btn btn-warning rounded-pill btn-sm px-3">
          <i class="bi bi-envelope"></i> Invia Email
        </button>
      } @else {
        <!-- Se non siamo in modalità anteprima, mostriamo i pulsanti per visualizzare l'anteprima e salvare il preventivo -->
        <button (click)="togglePreview()" class="btn btn-dark btn-sm px-4 rounded-pill me-2">
          <i class="bi bi-eye"></i> Vedi Anteprima
        </button>
        <button
          (click)="preventiviService.salvaPreventivoNelDb()"
          class="btn btn-success btn-sm px-4 rounded-pill"><i class="bi-floppy"></i>
          Salva
        </button>
      }
    </div>
  </div>

  <!-- SEZIONE DI MODIFICA PREVENTIVO -->
  @if (!isPreview()) {
    <div class="card p-4 shadow mb-4 border bg-white rounded-4 overflow-hidden">

      <div class="row g-4 mb-4">
        <div class="col-md-6">
          <label class="form-label fw-bold text-secondary">Numero Preventivo</label>

          <!-- Il numero del preventivo è un campo numerico che accetta solo valori interi positivi. -->
          <!-- Quando l'utente modifica il numero del preventivo, viene chiamato il metodo updateInvoice
          del servizio preventiviService per aggiornare lo stato del preventivo con il nuovo numero. -->
          <input (ngModelChange)="preventiviService.updateInvoice({invoiceNumber: $event})"
                 [ngModel]="invoice().invoiceNumber" class="form-control"
                 min="1"
                 type="number">
        </div>

        <div class="col-md-6">
          <label class="form-label fw-bold text-secondary">Data</label>

          <!-- La data del preventivo è un campo di input di tipo "date" che consente all'utente di selezionare una data. -->
          <input (ngModelChange)="preventiviService.updateInvoice({date: $event})" [ngModel]="invoice().date"
                 class="form-control"
                 type="date">
        </div>
      </div>

      <div class="row g-4 mb-4">


        <div class="col-md-6">
          <div class="p-3 bg-light rounded">
            <h5 class="mb-3">Emittente
            </h5>

            <!-- Il nome dell'emittente è un campo di input di testo che consente all'utente di inserire il nome della falegnameria o dell'azienda che emette il preventivo. -->
            <input (ngModelChange)="preventiviService.updateInvoice({fromName: $event})" [ngModel]="invoice().fromName"
                   class="form-control mb-2"
                   placeholder="Nome Falegnameria / Azienda" type="text">

            <!-- L'indirizzo email dell'emittente è un campo di input di testo che consente all'utente di inserire l'indirizzo email della falegnameria o dell'azienda. -->
            <input (ngModelChange)="preventiviService.updateInvoice({fromEmail: $event})"
                   [ngModel]="invoice().fromEmail" class="form-control mb-2"
                   placeholder="Indirizzo Email"
                   type="email">

            <!-- La partita IVA o codice fiscale dell'emittente è un campo di input di testo che consente all'utente di inserire la partita IVA o il codice fiscale della falegnameria o dell'azienda. -->
            <input (ngModelChange)="preventiviService.updateInvoice({fromPiva: $event})"
                   [ngModel]="invoice().fromPiva" class="form-control"
                   placeholder="P.IVA / C.F." type="text">


          </div>
        </div>

        <div class="col-md-6">
          <div class="p-3 bg-light rounded">
            <h5 class="mb-3">Cliente</h5>

            <div class="position-relative mb-2">

              <!-- Il nome del cliente è un campo di input di testo che consente all'utente di inserire il nome del cliente a cui è destinato il preventivo. -->
              <!-- Quando l'utente modifica il nome del cliente, viene chiamato il metodo onNomeClienteChange per filtrare la lista dei clienti e mostrare un dropdown con i risultati corrispondenti. -->
              <!-- Il dropdown dei clienti viene mostrato quando l'input del nome del cliente è in focus e ci sono clienti filtrati da mostrare. -->
              <!-- blur e focus sono usati per gestire la visibilità del dropdown in modo più fluida, evitando che si chiuda immediatamente quando si clicca su un elemento del dropdown. -->
              <input (blur)="nascondiDropdownRitardato()"
                     (focus)="mostraDropdownClienti.set(true)"
                     (ngModelChange)="onNomeClienteChange($event)"
                     [ngModel]="invoice().toName"
                     autocomplete="off"
                     class="form-control"
                     placeholder="Nome / Azienda Cliente"
                     type="text"> @if (mostraDropdownClienti() && clientiFiltrati().length > 0) {
              <ul class="dropdown-menu show w-100 position-absolute custom-autocomplete-dropdown shadow-sm">

                <!-- Il dropdown mostra una lista di clienti filtrati in base al nome inserito. -->
                @for (cliente of clientiFiltrati(); track cliente.id) {
                  <li>

                    <!-- Quando l'utente clicca su un cliente nel dropdown, viene chiamato il metodo selezionaClienteDaDropdown per aggiornare lo stato del preventivo con i dati del cliente selezionato e chiudere il dropdown. -->
                    <button (click)="selezionaClienteDaDropdown(cliente)" class="dropdown-item py-2" type="button">
                      <div
                        class="fw-bold text-dark">{{ cliente.nome }}
                      </div>
                      <!-- Se il cliente ha un indirizzo email, viene mostrato sotto il nome in un testo più piccolo e grigio. -->
                      @if (cliente.email) {
                        <div class="small text-muted">{{ cliente.email }}</div>
                      }
                    </button>
                  </li>
                }
              </ul>
            }
            </div>

            <!-- L'indirizzo email del cliente è un campo di input di testo che consente all'utente di inserire l'indirizzo email del cliente. -->
            <!-- ngModelChange viene usato per aggiornare lo stato del preventivo ogni volta che l'utente modifica l'indirizzo email del cliente. -->
            <input (ngModelChange)="preventiviService.updateInvoice({toEmail: $event})" [ngModel]="invoice().toEmail"
                   class="form-control mb-2"
                   placeholder="Indirizzo Email" type="email">

            <!-- La partita IVA o codice fiscale del cliente è un campo di input di testo che consente all'utente di inserire la partita IVA o il codice fiscale del cliente. -->
            <!-- ngModelChange viene usato per aggiornare lo stato del preventivo ogni volta che l'utente modifica la partita IVA o il codice fiscale del cliente. -->
            <input (ngModelChange)="preventiviService.updateInvoice({toPiva: $event})" [ngModel]="invoice().toPiva"
                   class="form-control"
                   placeholder="P.IVA / C.F." type="text">
          </div>
        </div>


      </div>

      <h5 class="mb-3 border-bottom pb-2">Voci del Preventivo</h5>
      <div class="table-responsive mb-3">
        <table class="table table-borderless align-middle">
          <thead class="table-light">
          <tr>
            <th style="width: 10px;"></th>
            <th>Descrizione Lavoro</th>
            <th style="width: 100px;">Quantità</th>
            <th style="width: 100px;">U.M.</th>
            <th style="width: 140px;">Prezzo Unit. (€)</th>
            <th class="text-end" style="width: 120px;">Importo</th>
            <th class="text-center" style="width: 80px;">Azioni</th>
          </tr>
          </thead>
          <tbody>

          <!-- La tabella delle voci del preventivo viene popolata iterando sulla lista degli items del preventivo. -->
          <!-- con il for, per ogni item viene creato una riga della tabella con campi di input per la descrizione, quantità, unità di misura e prezzo unitario. -->
          <!-- Ogni campo di input ha un evento ngModelChange che chiama il metodo updateItem del servizio preventiviService per aggiornare lo stato del preventivo con i nuovi valori inseriti dall'utente. -->
            @for (item of invoice().items; track item.id; let i = $index) {

              <!-- rendiamo trascinabili le righe della tabella -->
              <tr (dragover)="onDragOver($event)"
                  (dragstart)="onDragStart($event, i)"
                  (drop)="onDrop($event, i)"
                  class="border-bottom"
                  draggable="true">

                <!-- icona dei trascinabili -->
                <td class="text-center text-muted px-1" style="cursor: grab;"
                    title="Trascina per riordinare">
                  <i class="bi bi-grip-vertical fs-5"></i>
                </td>

                <td>
                  <!-- La descrizione del lavoro o prodotto è un campo di textarea che consente all'utente di inserire una descrizione dettagliata della voce del preventivo. -->
                  <!-- ngModelChange viene usato per aggiornare lo stato del preventivo ogni volta che l'utente modifica la descrizione della voce. -->

                  <div class="d-flex align-items-center ">
                    <textarea
                      (ngModelChange)="preventiviService.updateItem(i, 'description', $event)"
                      [ngModel]="item.description"
                      class="form-control"
                      placeholder="Descrizione lavoro o prodotto"
                      rows="2">
                    </textarea>

                    <!-- Pulsante collegato all'API Gemini AI e consente di richiamare il servizio di generazione di descrizioni con l'IA. -->
                    <button
                      (click)="generaDescrizioneIA(i)"
                      [disabled]="rigaInGenerazioneIA === i"

                      class="btn btn-outline-primary ms-3"
                      title="Migliora descrizione con l'IA"
                      type="button">

                      @if (rigaInGenerazioneIA === i) {
                        <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                      } @else {
                        <i class="bi bi-magic"></i>
                      }
                    </button>
                  </div>
                </td>
                <td>

                  <!-- La quantità è un campo di input di tipo "number" che consente all'utente di inserire la quantità del lavoro o prodotto. -->
                  <!-- ngModelChange viene usato per aggiornare lo stato del preventivo ogni volta che l'utente modifica la quantità della voce. -->
                  <input (ngModelChange)="preventiviService.updateItem(i, 'quantity', $event)" [ngModel]="item.quantity"
                         class="form-control"
                         min="0.01"
                         step="0.01"
                         type="number">
                </td>

                <td>

                  <!-- selezione dell'unità di misura è un campo di select che consente all'utente di scegliere l'unità di misura per la quantità inserita. -->
                  <select
                    (ngModelChange)="preventiviService.updateItem(i, 'unitaMisura', $event)"
                    [ngModel]="item.unitaMisura || 'pz'"
                    class="form-select text-center">
                    <option value="pz">pz</option>
                    <option value="mq">mq</option>
                    <option value="ml">ml</option>
                    <option value="mc">mc</option>
                    <option value="h">h</option>
                    <option value="corpo">a corpo</option>
                  </select>
                </td>
                <td>
                  <input (ngModelChange)="preventiviService.updateItem(i, 'rate', $event)"
                         [ngModel]="item.rate"
                         class="form-control"
                         min="0"
                         step="0.01" type="number">
                </td>
                <td class="text-end fw-bold text-secondary">
                  € {{ item.amount | number:'1.2-2' }}
                </td>
                <td class="text-center">
                  <button (click)="preventiviService.removeItem(i)"
                          [disabled]="invoice().items.length === 1"
                          aria-label="Rimuovi riga"
                          class="btn btn-outline-danger btn-sm"
                          title="Rimuovi riga">
                    ✕
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

      <!-- Il pulsante per aggiungere una nuova voce al preventivo chiama il metodo addItem del servizio preventiviService,
       che aggiunge una nuova voce vuota alla lista degli items del preventivo. -->
      <button (click)="preventiviService.addItem()" class="btn btn-secondary btn-sm mb-4">
        + Aggiungi Voce
      </button>

      <div class="row justify-content-end">
        <div class="col-md-5 col-lg-4">
          <div class="p-3 bg-light rounded">
            <div class="d-flex justify-content-between mb-2">
              <span class="text-muted">Imponibile (Subtotale):</span>
              <span class="fw-bold">€ {{ invoice().subtotal | number:'1.2-2' }}</span>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-2">
              <span class="text-muted">Aliquota IVA (%):</span>
              <input (ngModelChange)="preventiviService.updateInvoice({taxRate: $event})" [ngModel]="invoice().taxRate"
                     class="form-control form-control-sm w-25 text-end" max="100"
                     min="0" type="number">
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span class="text-muted">Importo IVA:</span>
              <span>€ {{ invoice().taxAmount | number:'1.2-2' }}</span>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-2">
              <span class="text-danger">Sconto (€):</span>
              <input (ngModelChange)="preventiviService.updateInvoice({discount: $event})"
                     [ngModel]="invoice().discount"
                     class="form-control form-control-sm w-25 text-end text-danger fw-bold"
                     min="0" type="number">
            </div>

            <div class="d-flex justify-content-between fw-bold fs-4 text-primary">
              <span>TOTALE:</span>
              <span>€ {{ invoice().total | number:'1.2-2' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  } @else {
    <div class="card p-3 shadow border-0 bg-white rounded-4 mx-auto "
         id="invoice-preview-container" style="max-width: 1000px;">
      <!-- modificare p-3 (con altro valore) per aumentare o diminuire bordo su anterpima pdf -->

      <div class="d-flex justify-content-between align-items-start mb-1">

        <div class="mb-1">
          <img [src]="logoAzienda()" alt="Logo" class="d-inline-block align-text-top" height="90">
        </div>

        <div class="text-end">
          <div class="h3 fw-bold text-primary mb-1">
            PREVENTIVO
          </div>
          <div class="fs-4 text-muted">
            N° {{ invoice().invoiceNumber || 'N.D.' }}
          </div>
          <div class="fs-5 text-muted">
            del {{ (invoice().date | date:'dd-MM-yyyy') || 'N.D.' }}
          </div>
        </div>

      </div>

      <hr>

      <div class="row mb-2">
        <div class="col-sm-6">
          <h6 class="fw-bold text-uppercase text-muted mb-3">Emittente</h6>
          <p class="fs-5 fw-bold mb-1">{{ invoice().fromName || '[Il tuo Nome/Azienda]' }}</p>
          <p class="text-muted mb-0">{{ invoice().fromEmail || '[La tua Email]' }}</p>
          <p class="text-muted mb-0">{{ invoice().fromPiva ? 'P.IVA ' + invoice().fromPiva : '[La tua P.Iva]' }}</p>
        </div>

        <div class="col-sm-6 text-sm-end mt-4 mt-sm-0">
          <h6 class="fw-bold text-uppercase text-muted mb-3">Cliente</h6>
          <p class="fs-5 fw-bold mb-1">{{ invoice().toName || '[Nome Cliente]' }}</p>
          <p class="text-muted mb-0">{{ invoice().toEmail || '[Email Cliente]' }}</p>
          <p class="text-muted mb-0">{{ invoice().toPiva ? 'P.IVA ' + invoice().toPiva : '[P.Iva Cliente]' }}</p>
        </div>
      </div>

      <hr>

      <table class="table mb-4">
        <thead>
        <tr>
          <th class="py-2">Descrizione</th>
          <th class="py-2 text-center text-nowrap" style="width: 1%;">Q.tà</th>
          <th class="py-2 text-center text-nowrap" style="width: 1%;">U.M</th>
          <th class="py-2 text-end text-nowrap" style="width: 1%;">Prezzo Unit.</th>
          <th class="py-2 text-end text-nowrap" style="width: 1%;">Importo</th>
        </tr>
        </thead>

        <!-- per rimpicciolire il testo delle voci del preventivo ho messo il font size a 13-->
        <tbody class="border-bottom-0" style="font-size: 13px;">

        <!-- La tabella delle voci del preventivo in modalità anteprima
        viene popolata iterando sulla lista degli items del preventivo,
        mostrando i valori formattati senza campi di input.
        per inserire le linee divisori tra un rigo e un altro utilizziamo

        -->
          @for (item of invoice().items; track item.id) {
            <tr style="page-break-inside: avoid; break-inside: avoid;">

              <!-- con py-2 aggiungo un po di padding tra una riga e un altra delle voci preventivo -->
              <td class="py-2" style="white-space: pre-wrap; word-break: break-word;">{{ item.description || '-' }}</td>
              <td class="py-2 text-center text-nowrap">{{ item.quantity }}</td>
              <td class="py-2 text-center text-nowrap">{{ item.unitaMisura }}</td>
              <td class="py-2 text-end text-nowrap">€ {{ item.rate | number:'1.2-2' }}</td>
              <td class="py-2 text-end fw-bold text-nowrap">€ {{ item.amount | number:'1.2-2' }}</td>
            </tr>
          }
        </tbody>
      </table>


      <div class="row justify-content-end">
        <div class="col-md-6 col-lg-5">
          <table class="table table-borderless mb-0" style="font-size: 15px">
            <tbody>
            <tr>
              <td class="text-muted text-end pb-1 text-nowrap">Imponibile:</td>
              <!-- Il subtotale (imponibile) viene mostrato come una riga nella tabella dei totali, con il valore formattato come valuta. -->
              <!-- text-end e text-nowrap sono usati per allineare il testo a destra e evitare che si spezzi su più righe. -->
              <!-- number:'1.2-2' è usato per formattare il numero con almeno 1 cifra intera e 2 cifre decimali, separando le migliaia con un punto e i decimali con una virgola. -->
              <td class="text-end pb-1 text-nowrap">€ {{ invoice().subtotal | number:'1.2-2' }}</td>
            </tr>
            <tr>
              <td class="text-muted text-end pb-1 text-nowrap">IVA ({{ invoice().taxRate }}%):</td>
              <td class="text-end pb-1 text-nowrap">€ {{ invoice().taxAmount | number:'1.2-2' }}</td>
            </tr>

              @if (invoice().discount > 0) {
                <tr class="border-bottom">
                  <td class="text-danger text-end pb-1 text-nowrap">Sconto:</td>
                  <td class="text-end pb-1 text-nowrap text-danger">- € {{ invoice().discount | number:'1.2-2' }}</td>
                </tr>
              }

            <tr>
              <td class="text-end fw-bold  text-primary pt-2 text-nowrap" style="font-size: 22px">TOTALE:</td>
              <td class="text-end fw-bold  text-primary pt-2 text-nowrap" style="font-size: 22px">
                € {{ invoice().total | number:'1.2-2' }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  }

  @if (mostraModalEmail()) {

    <div class="modal-backdrop fade show"></div>

    <div class="modal fade show d-block" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow-lg border-2 rounded-4">

          <div class="modal-header bg-light border-bottom-0 rounded-top-4">
            <h5 class="modal-title fw-bold text-secondary">
              <i class="bi bi-envelope-paper me-2"></i> Riepilogo Invio Email
            </h5>
            <button (click)="chiudiModalEmail()" class="btn-close" type="button"></button>
          </div>

          <div class="modal-body p-4">

            <div class="mb-3">
              <label class="form-label fw-semibold text-muted small">A (Destinatario):</label>
              <input [(ngModel)]="emailDestinatario" class="form-control" placeholder="es. cliente@email.it"
                     type="email"/>
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold text-muted small">Oggetto:</label>
              <input [(ngModel)]="emailOggetto" class="form-control" type="text"/>
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold text-muted small">File Allegato:</label>
              <div class="input-group">
                <span class="input-group-text bg-white"><i class="bi bi-file-earmark-pdf text-danger"></i></span>
                <input [(ngModel)]="emailNomeFile" class="form-control bg-light" type="text"/>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label fw-semibold text-muted small">Messaggio:</label>
              <textarea [(ngModel)]="emailMessaggio" class="form-control" rows="6"></textarea>
            </div>

          </div>

          <div class="modal-footer border-top-0 bg-light rounded-bottom-4">
            <button (click)="chiudiModalEmail()" class="btn btn-outline-secondary btn-sm px-4 rounded-pill"
                    type="button">
              Annulla
            </button>
            <button (click)="confermaInvioEmail()" class="btn btn-primary px-4 btn-sm rounded-pill shadow-sm"
                    type="button">
              <i class="bi bi-send-fill me-1"></i> Conferma Invio
            </button>
          </div>

        </div>
      </div>
    </div>
  }

</div>
